/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/Styles/styleheaderbanner.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.BuyInInstallments-Section1-bg2 {
    display: none;
  }
  .BuyInInstallments-Section1-logo {
    width: 160px !important;
  }
  .BuyInInstallments-Section1-Container {
    background-color: #fff897;
  }
  .BuyInInstallments-S1-Image {
    width: 35vw !important;
    display: block;
    margin: 10px 15vw auto auto;
  }
  .BuyInInstallments-S1-ImageBG {
    width: 70vw !important;
    display: block;
    margin: auto;
  }
  .doublebanner{
    display: flex;
    
  } 
  .bannerline1{
    width: 35vw !important;
  }
  .bannerline2{
    width: 35vw !important;
  }
  @media (max-width: 1000px) {
    .BuyInInstallments-Section1-bg2 {
      display: block;
    }
    .BuyInInstallments-Section1-bg1 {
      display: none;
    }
    .BuyInInstallments-Section1-Container {
      width: 80vw !important;
      overflow: hidden;
      margin: auto;
    }
    .BuyInInstallments-S1-Image {
      width: 35vw !important;
      display: block;
      margin: 10px 5vw auto auto;
    }
  }
  
  /* @media (max-width: 768px) {
    .BuyInInstallments-Section1-Container {
      width: 100vw !important;
    }
    .BuyInInstallments-S1-Image {
      width: 35vw !important;
      display: block;
      margin: 10px 15vw auto auto;
    }
    .BuyInInstallments-S1-ImageBG {
      width: 90vw !important;
      display: block;
      margin: auto;
    }
  } */
  
